<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blueskycinema">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueSkyCinema">
        <activity android:name=".Zaid.changeDate"></activity>
        <activity android:name=".Zaid.EditReservation" />
        <activity android:name=".Zaid.Confirmation" />
        <activity android:name=".Zaid.Summery" />
        <activity android:name=".Zaid.Tickets" />
        <activity android:name=".Zaid.ReserveNowActivity" />
        <activity android:name=".Imasha.PostReview" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>